<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/indexStyles.css">
    <title>Hello, world!</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar">
    <div class="container">
        <a class="navbar-brand" href="demo-02.html"><img src="../images/mountain3_small.jpg" alt="Mt.Rainier"></a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="demo-02.html">Blank</a>
                </li>
                <li class="nav-item" id="contaction">
                    <a class="nav-link" href="demo-02.html">Blank</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="demo-02.html">Blank</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Hello, world!</h1>
    <p>This is Ben and Andrew's super awesome project!</p>
</div>


<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="card" style="width: 45rem;">
            <img src="../images/mountain3_small.jpg" class="card-img-top" alt="material">
            <div class="card-body">
                <h5 class="card-title">Type of Material</h5>
                <p class="card-text">Description of Material</p>
                <a href="#" class="btn btn-primary">Order Material</a>
            </div>
        </div>
    </div>
</div>

<br><br><br>
<div class="container">
    <hr>
</div>
<br><br>
<div class="container-fluid" id="bark">
    <img src="../images/bark strip.PNG" class="img-fluid" alt="Responsive image">
</div>

<div class="container-fluid justify-content-center" id="map">
    <img src="../images/map.PNG" class="img-fluid" alt="Responsive image">
</div>

<br><br>

<footer class="bg-dark">
    <div class="row">
        <div class="col-sm-4">
            <div><img src="" alt="logo"></img></div>
            <div><img src="" alt="award"></img></div>
        </div>

        <div class="col-sm-4">
            <table>
                <ul>
                    <li>Phone: xxx-xxx-xxxx</li>
                    <li>Address: </li>
                    <li><a><img src="" alt="social medial"></a></li>
                </ul>
            </table>
        </div>
        <div class="col-sm-4">
            <ul>
                <li>Mon-Fri: 8am-5pm</li>
                <li>Sat: 9am-2pm</li>
                <li>Sun: closed</li>
            </ul>
        </div>
    </div>
    <a class="loginbtn" href="login-02.html"><button>Login</button></a>

    <div class="col-align-self-center">
        <div class="row justify-content-center">
            <!-- found on mdbootstrap.com -->
            <footer class="page-footer font-small blue">
                <!-- Copyright -->
                <div id="footer" class="footer-copyright text-center py-3">© 2020 Copyright:
                    <a id="myURL" href="#">GreenRiverDev</a>
                </div>
            </footer>
        </div><!-- Footer row 1-->
        <div class="row justify-content-center">
            <div class="justify-content center">
                <!-- Facebook -->
                <a href="#"
                   class="fa-lg p-2 m-2 li-ic"><i class="fab fa-facebook-f grey-text"></i></a>
            </div>
        </div><!-- Footer row 2-->
    </div><!-- Footer column -->
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://kit.fontawesome.com/b3af656e9f.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>