<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hillside Gardens</title>
    <!-- HEADER -->
    <!---------------------------------------------------------------------------------------------------------->
    <include href="includes/header.htm"></include>

</head>
<body id="htmlBody">

<div class="container-fluid" id="body">
    <!-- TOP LEVEL LOGO -->
    <include href="includes/logo.htm"></include>

    <!-- NAV -->
    <include href="includes/nav.htm"></include>

<!-- BODY -->
<!---------------------------------------------------------------------------------------------------------->

    <!-- About -->
    <!---------------------------------------------------------------------------------------------------------->
    <div class="container-fluid .d-flex .justify-content-center" id="about">
        <br>
        <h2 class="sections">About</h2>
        <div class="hr">
            <hr>
        </div>
        <p id="aboutP">Since 1983 Hillside Gardens Sawdust & Shavings has been the choice for your wood products needs.
        Whether it's a small landscape fresh-up, or a complete transformation we have the product you need
        at a fair price. Recognized by the Pierce County Conservation District as an outstanding community
        partner. We're here to help you conserve and beautify your own small piece of the Great Northwest.</p>
        <br>
        <!-- Top Banner -->
        <!-- Banner Image -->
        <!---------------------------------------------------------------------------------------------------------->
    </div>
    <!-- Close About -->
    <!---------------------------------------------------------------------------------------------------------->

    <!-- Products -->
    <!---------------------------------------------------------------------------------------------------------->
    <div class="container-fluid .d-flex .justify-content-center" id="products">
        <br>
        <!-- Heading Row -->
        <h2 class="sections">Products</h2>
        <div class="hr">
            <hr>
        </div>
        <p id="prodP">We carry the finest locally-sourced, all natural wood products. You won't find any
            artificial dyes or petro-chemical fertilizers here. We sell only nature's best and untreated
            products. All top soil is organic and locally sourced, and the bark and chips are from local suppliers.</p>
        <!-- Close Heading Row -->
    </div>

    <!-- Products -->
    <include href="includes/products.htm"></include>
    <!-- Close Products -->
    <!---------------------------------------------------------------------------------------------------------->

    <!-- Services -->
    <!---------------------------------------------------------------------------------------------------------->
    <div class="container-fluid .d-flex .justify-content-center" id="services">
        <br>
        <!-- Heading Row -->
        <div class="row justify-content-start"></div>
        <h2 class="sections">Services</h2>
        <div class="hr">
            <hr>
        </div>
        <p id="svcP">We have been in business over 30 years because we know how business is done. If you need delivery
            to your home, jobsite, or farm we're here for you.</p>

    </div><!-- Close Services -->
    <br>
    <!---------------------------------------------------------------------------------------------------------->

    <!-- Map Icon -->
    <div class="container .d-flex .justify-content-center">
    <include href="includes/footerImg.htm"></include>
    </div>
    <!-- Footer -->
    <div class="container-fluid .d-flex .justify-content-center">
        <div class="hr">
            <hr>
        </div>
    </div>
    <include href="includes/footer.htm"></include>

</div><br><!-- Body container -->
</body>
</html>