html {
    background-color: #27343e;
}

body {
    background-color: #27343e;
}

nav, nav.navbar.navbar-dark.bg-dark.navbar-expand-lg {
    background-color: #27343e;
    color: white;
    padding: 0;
    margin: 0;
    border: none;
}

div.row, div.row.fixed-top, div.jumbotron, div.container-fluid, div.container, div. {
    background-color: #27343e;
    color: white;
}

#navTarget {
    background-color: #27343e;
    color: white;
    padding: 0px 0px;
    margin: 0px 0px;
}



nav, a {
    color: white;
}

li {
    color: white;
}

.card {
    color: black;
}

#aboutP, #prodP, #svcP{
    color: white;
}

#footPhone {
    color: white;
}

#navAbout, #navProd, #navSvcs {
    background-color: #27343e;
    color: white;
    font-size: x-large;
}

div.card {
    width: 30rem;
}

div.hr {
    color: white;
    background-color: white;
}

div#about, div#services, div#products {
    font-size: x-large;
}

#htmlBody {
    background-color: #27343e;
}

#navBar {
    background-color: #27343e;
    color: white;
}

#navRow {
    background-color: #27343e;
    color: white;
}

#navLogo {
    padding: 0 0;
    margin: 0 0;
    border: none;
}

#navBar1 {
    background-color: #27343e;
    color: white;
}

#navBar2 {
    background-color: #27343e;
    color: white;
}

#headNav {
    background-color: #27343e;
    color: white;
}

.nav-item {
    background-color: #27343e;
    color: white;
}

#header-left {
    background-color: #27343e;
}

#header-mid {
    background-color: #27343e;
    color: white;
}

#header-right {
    background-color: #27343e;
    color: white;
}

#body {
    background-color: #27343e;
}

label {
    color: white;
}

#formField {
    background-color: #27343e;
    color: white;
}

#map {
    background-color: #27343e;
    padding-bottom: 1em;
}

#bark {
    background-color: #27343e;
}

#mtn3 {
    padding: 0 0;
    margin: 0 0;
    border: none;
}

#footRow1 {
    color: white;
}

#footRow2 {
    color: white;
}

#facebook {
    color: white;
}

#myURL {
    color: white;
}

#fbLink {
    color: white;
}

h2{
    color: white;
}


