html {
    background-color: #263547;
}

body {
    background-color: #263547;
}

#header-left {
    background-color: #263547;
}

#header-right {
    background-color: #263547;
}

#map {
    background-color: #263547;
}